   /*MOBILE SECTION*/
@media only screen and (max-width: 600px) {

  .hero {
    overflow-x: hidden;
    }

  .navbar {
    background-color: #ca4172;
    height: 80px;
    box-shadow: 2px 2px 15px 0px  rgba(0, 0, 0, .42);
    align-items: center;
    }
  .navbar h2 {
    font-size: 2em;
    }
  .navbar .menu { 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #ca4172;
    height: 50vh;
    left: -1em;
    transform: translateY(-120%);
    transition: all 1.4s;
    z-index: 1;
    }
  .navbar .menu-toggle {
    transform: translateY(0%);
    }
  .menu li {
    margin-top: 3em;
    }
  .navbar .menu-bar {
    display: block;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    }

   /* MAIN SECTION */

  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 70vh;
    }
  .main img {
    width: 12em;
    }
  .main h1 {
    margin-top: -80px;
  } 
  .main .button-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
 
 /* ABOUT SECTION */


  .about .about-content img {
    width: 300px;
    margin-top: 50px;
  }

  .about .about-content {
    flex-direction: column;
  }
 
  .about .about-content .about-info {
    margin-top: -10px;
    text-align: center;
  }
 
   /* PRODUCTS SECTION */

   .products .container-products {
     display: flex;
     flex-direction: column;
   }
   .products h2 {
     font-size: 2em;
     margin-top: 2em;
   }

   .products .container-products .btn-product {
     margin-bottom: 3em;
   }

    /* SUPPORT SECTION */

  .support {
    flex-direction: column;
    align-items: center;
  }

  .support .support-info h2 {
    font-size: 2em;
    font-weight: 500;
  }

  .support .support-info {
    text-align: center;
  }
   
  .support img {
    margin-top: 50px;
  }

    /* BANNER SECTION */


    #banner {
      height: 50vh;
      background-position: center;
    }

    .banner .rating img { 
      width: 50px;

    }
    .banner .rating h2 {
      font-size: 2em;
    }

    .banner .secundary-info {
      display: none;
    }

  /* FOOTER SECTION */

    .footer {
      flex-direction: column-reverse;
    }

    .footer .quicklinks .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .footer .social-network {
      margin: 2em;
    }
    .footer h3 {
      font-weight: lighter;
      margin-top: 1em;
      color: #f7b733;;
    }
}
