/*css celular y PC*/
body{
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Roboto' sans-serif;
}

#menu {
    width: 100%;
    margin: auto;
    color: rgb(0, 0, 0);
    background: radial-gradient(rgb(187, 187, 187),rgb(251, 250, 252));
    text-align: center;
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 4em;
    font-style: oblique;
    text-decoration-line: underline;
}

input[type="radio"] {display: none;}

label{
    margin: 0px 10px;
    cursor: pointer;
}

#productos{
    margin-top: 20px;
}

img{
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 300px;
}

#menu #remeras:checked ~ #productos .pantalon,
#menu #remeras:checked ~ #productos .campera,
#menu #remeras:checked ~ #productos .bermuda{
    display: none;
}

#menu #pantalones:checked ~ #productos .remera,
#menu #pantalones:checked ~ #productos .campera,
#menu #pantalones:checked ~ #productos .bermuda{
    display: none;
}

#menu #camperas:checked ~ #productos .pantalon,
#menu #camperas:checked ~ #productos .remera,
#menu #camperas:checked ~ #productos .bermuda{
    display: none;
}

#menu #bermudas:checked ~ #productos .pantalon,
#menu #bermudas:checked ~ #productos .campera,
#menu #bermudas:checked ~ #productos .remera{
    display: none;
}

/*css PC*/

@media (min-width: 720px){

    body{
        font-size: 25px;
    }

    #menu{
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    display: list-item;
}

    #productos{margin-top: 40px;}

    img{
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 500px;

    }

}